@import url('https://fonts.googleapis.com/css?family=Raleway:300,700');
body {
    background: #3af;
    padding: 3em;
    font-family: 'Raleway', 'Arial';
    color: #eee;
}

ul {
    list-style-type: none;
    margin: 0 0 2em 0;
    padding: 0;
}

ul li {
    display: inline;
}

ul li a {
    font-size: 1.4em;
}

a {
    color: #eee;
    text-decoration: none;
}